body {
    background-color: rgba(128, 128, 128, 0.212); /*any color with lower opacity*/
}
.divider {
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.212); /*any color with lower opacity*/
    border: solid rgba(0, 0, 0, 0.205);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.acc-warning {
    --bs-accordion-btn-bg: #ffc107;
    --bs-accordion-active-bg: #ffc107;
}

.acc-secondary {
    --bs-accordion-btn-bg: #adb5bd;
    --bs-accordion-active-bg: #adb5bd;
}

.acc-success {
    --bs-accordion-btn-bg: #198754;
    --bs-accordion-active-bg: #198754;
}

.table-hover {
    --bs-table-hover-bg: #0dcaf0;
}

.table-active {
    --bs-table-active-bg: #0dcaf0;
}

.bottom-right-toast {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
}